body {
  height: 300vh;
}

.container {
  display: flex;
  flex-direction: column;
}

.up {
  display: flex;
}

.down {
  display: flex;
}

.box {
  width: 300px;
  height: 300px;
}

.green {
  background-color: #13b370;
}

.green > span {
  position: relative;
  left: 10px;
  top: 10px;
}

.blue {
  background-color: #008cff;
}

.blue > span {
  position: absolute;
  left: 30px;
  top: 30px;
}

.orange {
  background-color: #ffc400;
}

.orange > span {
  /* position: static; default 값 */
  position: fixed;
  top: 0px;
  left: 0px;
}

.purple {
  background-color: #b107b1;
}

.purple > span {
  position: sticky;
  top: 100px;
}
