.layout {
  display: flex;
  align-content: center;
  gap: 10px;
  color: #1181ff;
}

.comment {
}

.register {
  border: #1181ff solid 1px;
  border-radius: 8px;
  width: 80px;
  height: 30px;
  text-align: center;
  align-content: center;
  margin-top: 10px;
}

.fruit {
  font-size: 30px;
}

.fruit > .apple {
  color: red;
}

.fruit > .banana {
  color: yellow;
}

.fruit > .orange {
  color: orange;
}
