.apple {
  /* 자식의 배치도 css */
  display: flex;
  /* 가운데로 맞춰줘 */
  justify-content: center;
  /* 자식들의 간격을 10px */
  gap: 10px;

  color: black;
  background-color: white;
  width: 250px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  /* 색상 스타일 두께 */
  border: #dbdbdb solid 1px;
  border-radius: 10px;

  padding-top: 20px;
  padding-bottom: 20px;
}

.icon {
  display: flex;
  /* 수직 방향 가운데로 맞춰줘 */
  align-items: center;
  font-size: 30px;
}

.button {
  display: flex;
  gap: 5px;
  padding-top: 5px;
}

.naver {
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.round-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.circle-button-mail {
  color: white;
  background-color: #418fde;
}

.circle-button-apple {
  color: white;
  background-color: black;
}
